.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 28px 28px 36px 28px;

  
    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 36px;
    }
  
    .name {
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }
  }
  